@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* horizontal bar */
::-webkit-scrollbar {
  height: 3px;
  width: 7px;
  background: gray;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb:vertical {
  background: rgb(10, 10, 10);
  border-radius: 10px;
}


.m-0-auto {
  margin: 0 auto;
}

.slick-dots {
  color: white !important;
}


@keyframes fade-in-from-top {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 220px;
  }
}

@keyframes fade-out-to-top {
  0% {
    opacity: 1;
    max-height: 220px;
  }
  100% {
    opacity: 0;
    max-height: 0;
  }
}

.animate-fade-in-from-top {
  animation: fade-in-from-top 0.8s forwards;
}

.animate-fade-out-to-top {
  animation: fade-out-to-top 0.5s forwards;
}